# uv
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
vis_out/

# Training outputs
*.pt
*.pth
generated.pt
*.png

# WandB
wandb/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
